.container{
  max-width: 700px;
  padding: 20px;
  margin: 20px auto 0;
}

.container article{
  margin-bottom: 20px;
  background: none;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
}

.container article a{
  text-decoration: none;
  justify-content: center;
  background: none;
  align-items: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  border: 2px solid gray;
  border-radius: 5px;
  color: gray;
  height: 42px;
  transition: all 0.2s;
}

.container article p{
  font-size: 16px;
  margin-top: 5px;
  line-height: 20px;
  color: grey;
}
.container article a:hover{
 background: gray;
 color: white;
}