header { 
  width: 100%;
  background-color: black;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  display: flex;
}
