.form-signin{
  max-width: 700px;
  margin: 100px auto 0;
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 20px;
}

#logar, #cadastrar{
  border: 1px solid #007bff;
  border-radius: 5px;
  color:#000;
  background: none;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  justify-content: center;
  text-decoration: none;
}


#logar:hover{
  color: #fff;
  background:  #28a744;
  border-color:  #fff;
  transition: 0.2s all;
  }

#cadastrar:hover{
    color: #fff;
    background:  #28a744;
    border-color:  #fff;
    transition: 0.2s all;
}

#text-label{
  color:  #ddd;
  font-weight: bold;
}